<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/recieve.js"></script>
  <script></script>
</head>

<body>
  <%- include('header'); -%>
</body>

</html>